<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <fieldset>

        <legend>Profile Settings</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="userName">User Name</label>
          <div class="col-md-4">
            <input name="userName" value="{{userService.currentUser?.userName}}" class="form-control input-md"
              type="text">
          </div>
        </div>
        <hr>

        <div class="form-group">
          <label class="col-md-4 control-label" for="userId">User Id</label>
          <div class="col-md-4">
            <input name="userId" value="{{userService.currentUser?._id}}" class="form-control input-md" type="text" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="sessionId">Session Id</label>
          <div class="col-md-4">
            <input name="sessionId" value="{{userService.currentUser?.sessionId}}" class="form-control input-md" type="text" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="isAuthenticated">Authenticated</label>
          <div class="col-md-4">
            <input name="isAuthenticated" value="{{userService.currentUser?.isAuthenticated}}" class="form-control input-md" type="text"
              readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="FormAddBlock"></label>
          <div class="col-md-4 text-right">
            <button class="btn btn-primary">Update</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
