<div class="well">
  <div class="media">
    <span class="pull-left">
    		<img class="media-object" src="/assets/img/js_city.jpeg">
    </span>
    <div class="media-body">
      <h4 class="media-heading">Javascript City</h4>
      <p class="text-right">By {{ userService.currentUser?.userName }}</p>
      <p>JavaScript, often abbreviated as JS, is a high-level, dynamic, weakly typed, object-based, multi-paradigm, and interpreted
        programming language. Alongside HTML and CSS, JavaScript is one of the three core technologies of World Wide Web
        content production. It is used to make webpages interactive and provide online programs, including video games. The
        majority of websites employ it, and all modern web browsers support it without the need for plug-ins by means of
        a built-in JavaScript engine. Each of the many JavaScript engines represent a different implementation of JavaScript,
        all based on the ECMAScript specification, with some engines not supporting the spec fully, and with many engines
        supporting additional features beyond ECMA.</p>
      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
        <li>|</li>
        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
        <li>|</li>
        <li>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
        <li>|</li>
        <li>
          <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-twitter-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
        </li>
      </ul>
    </div>
  </div>
</div>
